@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Separat';
    src: url('../fonts/Separat-Bold.woff2') format('woff2'),
        url('../fonts/Separat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/fira/FiraCode-Medium.woff2') format('woff2'),
        url('../fonts/fira/FiraCode-Medium.woff') format('woff');
    font-weight: medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FiraCode-SemiBold';
    src: url('../fonts/fira/FiraCode-SemiBold.woff2') format('woff2'),
        url('../fonts/fira/FiraCode-SemiBold.woff') format('woff');
    font-weight: semibold;
    font-style: normal;
    font-display: swap;
}

.font-seperate {
    font-family: "Separat";
}

.font-fira-code {
    font-family: "FiraCode";
}

.hero-nav-links {
    color: #131313;
}

.massive-title {
    font-size: 24em;
    font-family: "FiraCode-SemiBold";
    color: #EAEAEA;
    opacity: 0;
    
    letter-spacing: -0.1em;
    pointer-events: false;
}

.yotext{
    font-size:20rem;
    letter-spacing: -1rem;
    text-align:middle;
    text-anchor:middle;
    
    
    stroke-width:10px;
    fill: rgba(255, 239, 249, 0.8);
  }

  /* .yotext{
    font-size:20rem;
    letter-spacing: -1rem;
    text-align:middle;
    text-anchor:middle;
    stroke:rgba(25, 25, 25, 0.2);
    
    stroke-width:10px;
    fill: rgba(208, 255, 250, 0.8);
  } */

.playable-type-char {
    color: #EEEEEE
}


.orange-grad {
    background: linear-gradient(246.25deg, #FFC700 -88.21%, #EE0909 174.55%);
}



.playable-text-background {
    
    
    background-color:rgba(197, 94, 168, 0.71);
    
}

.section-background {
    z-index: -1;
}

.cutout {
    width: 200px;
    height: 200px;
    
    font-size: 5rem;
    border:             4px solid;
    background:         rgb(59, 2, 6);
    background-clip: text;
  color: transparent;
  }

  .backdrop {
    background:             url("https://rpsthecoder.github.io/img-repo/Taitō%20by%20Jezael%20Melgoza.jpg");
  }